body 
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(170, 148, 190);
  }  
#Fuck {
    background-color: brown;
    font-size: 20px;
    color: cornsilk;
    width: 500px;
    align-items: center;
}

